#login-info {
  text-align: right;
}

.calendarContainer {
  padding: 10px 10px 100px;
}

.account-control {
  /*float: left;*/
}

.account-control button {
  background: #aaa;
  border-radius: 4px;
  padding: 6px 18px;
  color: #FFF;
  box-shadow: none;
  border: none;
  font-size: 14px;
  vertical-align: middle;
  font-weight: normal;
  line-height: 1.4;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  user-select: none;
}

.account-control button.active {
  background: #fa8072;
}

.account-control button:hover {
  background: #fa8072;
}

.calendar-control {
  float: right;
}

.calendar-control button {
  background: #428bca;
  border-radius: 4px;
  padding: 6px 18px;
  color: #FFF;
  box-shadow: none;
  border: none;
  font-size: 14px;
  vertical-align: middle;
  font-weight: normal;
  line-height: 1.4;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  user-select: none;
}

.calendar-control button:hover {
  background: #3276b1;
}

.calendar-control button.calendar-incomeBtn,
.calendar-control button.calendar-expendBtn {
  background: #5cb85c;
}

.calendar-control button.calendar-incomeBtn:hover,
.calendar-control button.calendar-expendBtn:hover {
  background: #47a447;
}

.calendar-control input[class="calendar-average-first-year"],
.calendar-control input[class="calendar-average-finish-year"] {
  width: 4em;
}

.calendar-control input[class="calendar-average-first-month"],
.calendar-control input[class="calendar-average-finish-month"] {
  width: 3em;
}

.calendar {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.calendar caption {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.calendar thead th {
  background: #888;
  color: #FFF;
}

.calendar td,
.calendar th {
  border: 1px solid #666;
}

.calendar td {
  vertical-align: top;
  padding: 5px;
  font-size: 13px;
}

.calendar td.incomeAmount,
.calendar span.Sat {
  color: #4169e1;
}

.calendar td.expendAmount,
.calendar span.Sun {
  color: #ff4500;
}

.calendar td {
  cursor: pointer;
}

.calendar tr:hover {
  color: #6b87ff;
  text-decoration: underline;
}

.calendar tr.addorchanged td {
  animation: addorchanged 2s ;
  -webkit-animation: addorchanged 2s ;
  font-weight: bold;
}

@keyframes addorchanged {
  0% {background-color: #5cb85c;}
  100% {background-color: #fff;}
}

@-webkit-keyframes addorchanged {
  0% {background-color: #5cb85c;}
  100% {background-color: #fff;}
}

.calendar .calendar-date {
  color: #999;
  margin-bottom: 3px;
}

.calendar .calendar-list time {
  display: inline-block;
  margin-right: 5px;
  font-size: 11px;
  font-weight: bold;
}
.calendar .calendar-list span {
  display: inline-block;
}

.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.dialog .dialog-body {
  position: relative;
  height: 80%;
  width: 450px;
  overflow: auto;
  border-radius: 6px;
  padding: 15px;
  margin: 50px auto 0;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.dialog .dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #6b87ff;
}

.dialog .dialog-close:hover {
  color: #ff5268;
}

.dialog-body {
}

.dialog h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0 0;
}

.dialog p {
  margin: 2px 0;
}

.dialog input[type="text"] {
  width: 100%;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.dialog input[type="datetime-local"] {
  font-size: 14px;
}

.dialog .dialog-controll {
  margin-top: 25px;
}

.dialog .dialog-controll input[type="submit"],
.dialog .dialog-controll button {
  border-radius: 4px;
  padding: 6px 18px;
  color: #FFF;
  box-shadow: none;
  border: none;
  font-size: 14px;
  vertical-align: middle;
  font-weight: normal;
  line-height: 1.4;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  user-select: none;
}

.dialog .dialog-controll input[type="submit"] {
  background: #5cb85c;
  margin-right: 10px;
}

.dialog .dialog-controll input[type="submit"]:hover {
  background: #47a447;
}

.dialog .dialog-controll button.dialog-removeBtn {
  background: #d9534f;
}

.dialog .dialog-controll button.dialog-removeBtn:hover {
  background: #d2322d;
}

.dialog .dialog-controll button.dialog-copyBtn {
  background: #428bca;
}

.dialog .dialog-controll button.dialog-copyBtn:hover {
  background: #3276b1;
}

.dialog .shopList button {
  background: #aaa;
  border-radius: 4px;
  padding: 6px 18px;
  color: #FFF;
  box-shadow: none;
  border: none;
  font-size: 12px;
  vertical-align: middle;
  font-weight: normal;
  line-height: 1.4;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  user-select: none;
}

.dialog .shopList button.active {
  background: #fa8072;
}

.dialog .shopList button:hover {
  background: #fa8072;
}

#input-dialog {
  display: none;
}

@media screen and (max-width:768px){ /*タブレット、スマホ用*/
  body,
  .calendar-control,
  .calendar td {
    font-size: 20px;
  }

  .dialog,
  .dialog input[type="text"],
  .dialog input,
  .dialog select {
    font-size: 20px;
  }

  #input-dialog {
    /*display: block;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  #input-dialog .dialog-body {
    position: absolute;
    margin: 0;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
  }
}

#calculator {
  overflow: hidden;
  width: 15em;
}

#calculator button{
  font-size: 15px;
  float: left;
  margin: 0;
  text-align: center;
  width: 3em;
  line-height: 2em;
  border-radius: 0.3em;
  background-color: #eee;
  border: 1px solid;
  border-color: #ccc #aaa #888 #aaa;
  outline-color: #9bdb9c;
}

#calculator .nums{
  float: left;
  width: 10em;
}

#calculator .nums button{
  margin: 0.5em 0 0 0.5em;
}

#calculator .ops{
  float: left;
  width: 3em;
}

#calculator .ops button{
  margin: 0.5em 0 0 0.3em;
}

#calculator .op.selected {
  background-color: #ccffcc;
  border-color: #f5ffe5 #b9e5b9 #9bdb9c #b9e5b9;
  color: #267c26;
}

#calculator .clear,
#calculator .result {
  width: 6.5em;
  margin: 0.5em 0 0 0.5em;
}